.ds-left-nav {
  grid-area: ds-left-nav;
  background: ds-color(neutral, 000);
  padding: 48px 48px 24px 48px;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-out;
  overflow-y: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    margin-bottom: 80px;
  }

  ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
    
    a {
      text-decoration: none;
      font-size: ds-font-size(H6);
      color: ds-color(neutral, 600);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ds-nav-link-isActive {
    color: ds-color(neutral, 700);
    font-weight: bold;
  }

  .ds-leftnav-subnav-list {
    padding: ds-space(base) 0 0 ds-space(loose);
    display: none;
    opacity: 0;
    transition: all ds-easing(base) ds-duration(slow);

    li {
      a {
        font-size: 18px;
      }
    }
  }

  .ds-leftnav-subnav-list-is-showing {
    display: block;
    opacity: 1;
  }
}
