@import '../../../node_modules/oskrhq-design-system/lib/styles/styles.scss';

.ds-color-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;

  img {
    margin-bottom: 0;
  }

  h3 {
    width: 687px;
    color: ds-color(neutral, 500);
    margin-bottom: 100px;
    line-height: 43px;
    font-weight: 300;
  }

  h4 {
    margin-bottom: 32px;
  }
  
  .brand-colors-container {
    width: 304px;
    margin-right: 80px;
  }

  .feedback-colors-container {
    width: 398px;
    margin-right: 80px;
  }

  .neutral-colors-container {
    width: 96px;
  }
}

.ds-usage-title {
  margin-top: 100px;
}