.ds-left-nav {
  grid-area: ds-left-nav;
  background: ds-color(neutral, 000);
  padding: 48px 48px 24px 48px;
  height: 100vh;
  position: sticky;
  top:0;
  left: 0;
  bottom: 0;
  transition: all 0.2s ease-out;
  overflow-y: auto;
  box-sizing: border-box;

  img {
    margin-bottom: 100px;
  }

  ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 24px;
    
    a {
      font-size: ds-font-size(title, base);
      color: ds-color(neutral, 600);
    }
  }

  .ds-nav-link-isActive {
    color: ds-color(neutral, 700);
    font-weight: bold;
  }

  .ds-profile-avatar-wrapper {
    max-height: 56px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;

    .ds-profile-avatar{
      border-radius: 50%;
      height: 54px;
      margin: 0;
      margin-right: 16px;
    }

    .text {
      display: flex;
      flex-direction: column;

      span {
        font-weight: ds-font-weight(subheading, bold); 
      }

      a {
        margin: 0;
        color: ds-color(neutral, 500);

        &:hover {
          color: ds-color(primary, 400);
        }
      }
    }
  }
}

