@import '../../../node_modules/oskrhq-design-system/lib/styles/styles.scss';

.ds-footer-text {
  color: ds-color(neutral, 400);
  position: absolute;
  left: ds-space(super-loose);
  bottom: ds-space(extra-loose);
}