@import '../../../scss/_styles.scss';

$content-bg-color: #F9FAFC;

.ds-main-content {
  grid-area: ds-main-content;
  background: $content-bg-color;
  width: 100%;
  position: relative;
}

.ds-container {
  max-width: 960px;
  margin: 120px 0 120px 46px;
  position: relative;

  .subheading {
    width: 680px;
    color: ds-color(neutral, 500);
    margin-bottom: 100px;
    line-height: 43px;
    font-weight: 300;
  }
}
