.ds-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: ds-space(super-loose);;
  background: ds-color(neutral, 300);
  margin-top: ds-space(base);
}

.ds-space-page-grid-example1-img {
  width: 476px;
}

.ds-space-page-grid-example2-img {
  width: 636px;
  display: block;
  margin: ds-space(extra-loose) auto;
}